html {
    box-sizing: border-box;
}

body {
    background-color: #cedbf5;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#main-container {
    height: 500px;
    width: 300px;
    overflow: hidden;
    background-color: white;
    box-shadow: 5px 2px 8px -1px rgba(0,0,0,0.59);
    border-radius: 10px;
}

#top-container {
    height: 55%;
    width: 90%;
    margin: 15px;
}

#qr-code {
    width: 100%;
    height: 100%;
    background-image: url('images/image-qr-code.png');
    background-size: cover;
    border-radius: 10px;
}

#bottom-container {
    height: 40%;
    width: 100%;
}

h3, p {
    margin: 10px;
    margin-top: 20px;
    text-align: center;
}

h3 {
    font-weight: 700;
}
p {
    color: #8c9aab;
    font-weight: 400;
}